.col{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
body{
    font-size: 16px;
    background-image: url("images/bg-intro-desktop.png");
}
.form-floating{
    width: 70%;
    margin: auto;
}
.row{
    padding: 20px 30px;
    height: 100vh;
}
#s{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}
#purp{
    background-color:hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius:  10px;
    box-shadow: 0 5px 0 0 black ;
    margin: 10px 0;
    width: 70%;
}
.wit{
    background-color: white;
    padding: 20px;
    border-radius: 5%;

}
label{
    color: black;
}
#bod{
    background-color:  hsl(0, 100%, 74%);
    opacity: 70%;
}
.btn{
    width: 70%;
    background-color:  hsl(154, 59%, 51%);
    border-radius:  10px;
    box-shadow: 0 5px 0 0 darkgreen ;
}
button{
    display: block;
}
span{
    color: red;
}
.see{
    width: 70%;
}
.foot{
    margin: 5px 0;
    color: white;
    text-decoration: none;
    font-weight: 200;
    text-decoration-color: white;
    margin:  10px auto;
}
a{
    color: white;
    text-decoration: none;
}
p{color: white}
@media (max-width: 576px) {
    row{
        flex-direction: column;
    }
    body{
        background-image: url("images/bg-intro-mobile.png");
    }
    #bod{
        height: 1000px;
    }
}
@media screen and (min-width: 576px){


}
