.col{
    border: 1px solid red;

}
body{
    font-size: 16px;
    background-image: url("images/bg-intro-desktop.png");

}

#s{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#purp{
    background-color:hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius:  10px;

}
#bod{
    background-color:  hsl(0, 100%, 74%);
    opacity: 50%;
}
p{color: white}
@media (max-width: 375px) {
    row{
        flex-direction: column;
    }
    body{
        background-image: url("images/bg-intro-mobile.png");
    }
}
